@font-face {
    font-family: born_again;
    src: url(../fonts/dd_ba.ttf)
  }

  @font-face {
    font-family: fantastic_four;
    src: url(../fonts/fantastic4.ttf)
  }


  @font-face {
    font-family: thunderbolts;
    src: url(../fonts/thunder.ttf)
  }

  @font-face {
    font-family: superman;
    src: url(../fonts/superman.ttf)
  }

  @font-face {
    font-family: superman2;
    src: url(../fonts/supes.ttf)
  }


  @font-face {
    font-family: iron_heart;
    src: url(../fonts/iron_heart.otf)
  }

  
  @font-face {
    font-family: tb_2;
    src: url(../fonts/arial_tb.ttf)
  }






/* General Reset */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    text-align: center;
    color: white;
    background-color: black;
    
}

/* Intro Section */
#intro {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    background: black;
}

/* Fantastic Four Video Section */
#fantastic-four {
    position: relative;
    height: 100vh;
}

#background-video {
    width: 100%;
    height: 100%;
    object-fit:contain
}


.images-container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.images-f4 {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.images-f4 img {
    width: 300px;
    height: 500px;
    object-fit: cover;
    border-radius: 8px;
    transition: opacity 0.4s ease-in-out, box-shadow 0.4s ease-in-out;
    box-shadow: 0 0 25px rgba(0, 204, 255, 0.6); 
}


.images-f4:hover img {
    opacity: 0.4; 
    box-shadow: 0 0px 25px rgba(0, 204, 255, 0.6);
}


.hover-text {
    position: absolute;
    bottom: 75%;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    background: rgba(102, 102, 102, 0.8); 
    padding: 10px 20px;
    border-radius: 8px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

/* Show the text when hovering */
.images-f4:hover .hover-text {
    opacity: 1;
}




.comics-info{
  font-size: 20px;
  font-family:  fantastic_four;
}

.comic-item {
    text-align: center;
}

.comic-item a {
    text-decoration: none;
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
}

.titel-f4{
    font-family: fantastic_four;
    margin-top: -90px;
    font-size: 30px;
    letter-spacing: 2px;
}


.hover-text{
    position: absolute;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:#fff;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px 15px;
    border-radius: 8px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    text-align: center;
    font-size: 14px;
    width: 80%;
    max-height: 60%;
    overflow-y: auto;

}

.hover-text-0{
    position: absolute;
    bottom: 34%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:#fff;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px 15px;
    border-radius: 8px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    text-align: center;
    font-size: 14px;
    width: 80%;
    max-height: 60%;
    overflow-y: auto;

}


.hover-text-1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 15px;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    text-align: center;
    font-size: 14px;
    width: 80%;
    max-height: 70%;
    overflow-y: auto;
}



.hover-text p{
    margin: 0;
}

.hover-text-0 p{
    margin: 0;
}

.comic-item a:hover{
    opacity: 1;

}

.comic-item a:hover .hover-text-1{
    opacity: 1;

}

.images-f4:hover .hover-text,
.images-f4:hover .hover-text-0 {
    opacity: 1;
}


/* Comics to read FF */

.ctr-f4{
    font-family: fantastic_four;
    letter-spacing: 4px;

}

.comics-f4{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 50px 0;

}

.comics-f4 img {
    width: 300px;
    height: 400px;
    border-radius: 20px;
    margin-top: 100px;
    box-shadow: 0 0 25px rgba(7, 175, 218, 0.6);
    transition: transform .6s;
}

.comics-f4 img:hover{
    transform: scale(1.1);
    opacity: 0.4;
    box-shadow: 0 10px 80px rgba(7, 175, 218, 0.6);

}


.comics-info-f4{
    font-family: fantastic_four;
    font-size: 20px;
    letter-spacing: 2px;
    color: #fff;
    margin-top: 30px;
}

.comics-info-f4-1{
    font-family: fantastic_four;
    font-size: 20px;
    letter-spacing: 2px;
    color: #fff;
    margin-top: 24px;
}

/* Comics to read */


.images img {
    width: 300px;
    height: auto;
    border-radius: 10px;
    margin-top: 100px;
}

.center-image {
    width: 400px;
    border-radius: 10px;
}

.text-box p {
    font-size: 20px;
    margin: 10px 0;
}

.ctr{
    margin-top: 200px;
    font-family: born_again;
    font-size: 30px;
    letter-spacing: 1px;
}

/* Daredevil Section */
#daredevil {
    text-align: center;
    padding: 50px 0;
    background-color: black;
    color: white;
}

/* Scroll Animation Container */
.diagonal-scroll {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color: #000000;
}

/* Image Row */
.daredevil-images {
    display: flex;
    justify-content: center;
    gap: 30px;
}

/* Each Image Block */
.daredevil-item {
    text-align: center;
}

.daredevil-item img:hover{
    transform: scale(1.1);
}


.hover-text-2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 15px;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    text-align: center;
    font-size: 14px;
    width: 80%;
    max-height: 70%;
    overflow-y: auto;
}

.daredevil-item:hover .hover-text-2 {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}




/* Image Styling */
.daredevil-item img {
    width: 200px; 
    height: 300px;
    object-fit: cover; 
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.6);
    transition: transform .5s;
}



/* DD Comics */
.daredevil-info {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    color: white;
}

.comics-dd{
    display: flex;
    justify-content: center;
    gap: 30px;
    position: relative;

}

.fm-bornagain img {
    width: 200px; 
    height: 300px;
    object-fit: cover; 
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(255, 0, 0, 0.6);
    transition: transform .5s;
}

.fm-bornagain img {
    position: relative;
    text-align: center;
    overflow: hidden;
}

.fm-bornagain:hover img {
    transform: scale(1.05);
}

.fm-bornagain:hover .hover-text-2 {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}


.comics-info-dd{
    font-family: born_again;
    color: white;
    text-decoration: none;

}

/* Thunderbolts Intro */

.thunderbolts-images{
    display: flex;
    justify-content: center;
    gap: 30px;

}


.thunderbolts-item img {
    width: 200px; 
    height: 300px;
    object-fit: cover; 
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(252, 214, 2, 0.6);
}


.thb{
    font-family: tb_2;
    letter-spacing: 5px;


}

/* Thunderbolts imgs */

.thunderb-item img {
    width: 200px; 
    height: 300px;
    object-fit: cover; 
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(252, 214, 2, 0.6);
    
}


.comics-tb {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.thunderb-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.thunderb-info {
    font-family: thunderbolts;
    letter-spacing: 2px;


}

.ctr-tb{
    font-family: thunderbolts;
    font-size: 30px;
}


/* Superman Section Layout */
.superman-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 50px;
    background-color: black;
}

/* Image Styling */
.superman-images img {
    width: 350px; /* Adjust size */
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 162, 255, 0.6);
}

/* Text Styling */
.superman-text {
    font-family: superman2;
    color: white;
    max-width: 400px;
    text-align: left;
    letter-spacing: 6px;
}

.superman-text h1 {
    font-size: 36px;
    margin-bottom: 10px;
    text-align: center;
}

.superman-text p {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.ctr-supe{
    font-family: superman2;
    font-size: 30px;
}


.comics-sm{
    display: flex;
    justify-content: center;
    gap: 20px;
    position: relative;
    padding: 50px;
}

.super-item {
    position: absolute;
    transition: transform 0.5s ease;
}


.super-info{
    font-family: superman2;
    letter-spacing: 6px;
    font-size: 20px;
}


/* Staircase Layout */
.super-item:nth-child(1) {
    top: 0;
    right: 20%;
}

.super-item:nth-child(2) {
    top: 150px;
    left: 20%;
}

.super-item:nth-child(3) {
    top: 500px;
    right: 20%;
}

/* Comic Cover Styling */
.super-item img {
    width: 250px;
    height: 380px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 0 20px rgba(0, 0, 255, 0.7); /* Superman blue */
    border: 1px solid #ffcc00; /* Superman yellow */
}

/*  Iron Heart */

#iron-heart {
    margin-top: 1400px; /* Adds spacing below Superman Comics */
    text-align: center;
    color: white;
}


.iron{
    font-family: iron_heart;
    font-size: 50px;
    letter-spacing: 8px;
}

.iron-images{
    display: flex;
    justify-content: center;
    gap: 30px;

}


.iron-item img {
    width: 200px; 
    height: 300px;
    object-fit: cover; 
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(252, 214, 2, 0.6);
}


/* Iron Heart imgs */

.iron-item img {
    width: 200px; 
    height: 300px;
    object-fit: cover; 
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(252, 214, 2, 0.6);
    
}


.super-info {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 10px rgba(255, 0, 0, 0.8);
}

.ctr-ih{
    font-family: iron_heart;
    font-size: 30px;
}



/* scroll */
::-webkit-scrollbar{
    display: none;
}
